{% extends 'layouts/base_auth.html' %}
{% load i18n static %}

{% block title %}注册{% endblock title %}

{% block auth_card %}
<div class="card-header text-center py-4">
    <h4 class="title" data-en="Register for LAPS" data-zh="注册 LAPS">注册 LAPS</h4>
</div>
<div class="card-body px-5 py-3">
    <form method="post" action="{% url 'auth_signup' %}" autocomplete="on">
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {% for error in form.non_field_errors %}{{ error }}{% endfor %}
            <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-md-12 px-md-1">
                <div class="form-group">
                    <label for="id_username" data-en="Username" data-zh="用户名">用户名</label>
                    {{ form.username }}
                </div>
                {% if form.username.errors %}<span class="text-danger small">{{ form.username.errors.0 }}</span>{% endif %}
            </div>
            <div class="col-md-12 px-md-1">
                <div class="form-group">
                    <label for="id_email" data-en="Email" data-zh="邮箱">邮箱</label>
                    {{ form.email }}
                </div>
                {% if form.email.errors %}<span class="text-danger small">{{ form.email.errors.0 }}</span>{% endif %}
            </div>
            <div class="col-md-12 px-md-1">
                <div class="form-group">
                    <label for="id_password1" data-en="Password" data-zh="密码">密码</label>
                    {{ form.password1 }}
                </div>
                {% if form.password1.errors %}<span class="text-danger small">{{ form.password1.errors.0 }}</span>{% endif %}
            </div>
            <div class="col-md-12 px-md-1">
                <div class="form-group">
                    <label for="id_password2" data-en="Confirm password" data-zh="确认密码">确认密码</label>
                    {{ form.password2 }}
                </div>
                {% if form.password2.errors %}<span class="text-danger small">{{ form.password2.errors.0 }}</span>{% endif %}
            </div>
            <div class="col-md-12 px-md-1">
                <button type="submit" class="btn btn-fill btn-primary" data-en="Register" data-zh="注册">注册</button>
                <span style="margin: 12px !important;">
                    <span data-en="Or" data-zh="或">或</span>
                    <a href="{% url 'auth_signin' %}" data-en="Sign in" data-zh="登录">登录</a>
                </span>
            </div>
        </div>
    </form>
</div>
{% endblock auth_card %}
