{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Projects{% endblock title %}

{% block content %}
<div
  id="root-projects"
  data-projects-props='{
    "urls": {
      "projects": "{% url 'projects' %}",
      "annotation": "{% url 'annotation' %}"
    },
    "projects": [
      {% for p in projects %}
      {
        "id": {{ p.id }},
        "name": "{{ p.name|escapejs }}",
        "created_at": "{{ p.created_at }}",
        "owner": "{% if p.owner %}{{ p.owner|escapejs }}{% endif %}"
      }{% if not forloop.last %},{% endif %}
      {% endfor %}
    ]
  }'
></div>
{% endblock content %}
