{% extends 'layouts/base.html' %}

{% block title %}已归档示例页面{% endblock title %}

{% block content %}
<div class="content">
  <div class="row">
    <div class="col-md-8 ml-auto mr-auto">
      <div class="card">
        <div class="card-body text-center">
          <h3>该示例页面已归档</h3>
          <p>RTL 示例页面已移动到 <code>templates/archived_templates/</code>，以便清理项目模板目录。</p>
          <a href="{% url 'index' %}" class="btn btn-primary">返回仪表盘</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}