{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Tasks{% endblock title %}

{% block content %}
<div
  id="root-tasks"
  data-tasks-props='{
    "urls": {
      "tasks": "{% url 'tasks' %}",
      "projects": "{% url 'projects' %}"
    },
    "projects": [
      {% for p in projects %}
      {
        "id": {{ p.id }},
        "name": "{{ p.name|escapejs }}"
      }{% if not forloop.last %},{% endif %}
      {% endfor %}
    ],
    "datasets": [
      {% for d in datasets %}
      {
        "id": {{ d.id }},
        "name": "{{ d.name|escapejs }}"
      }{% if not forloop.last %},{% endif %}
      {% endfor %}
    ],
    "tasks": [
      {% for t in tasks %}
      {
        "id": {{ t.id }},
        "project_name": "{{ t.project.name|escapejs }}",
        "image_url": "{{ t.image.file.url|escapejs }}",
        "status": "{{ t.status|escapejs }}"
      }{% if not forloop.last %},{% endif %}
      {% endfor %}
    ]
  }'
></div>
{% endblock content %}
