{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Tasks{% endblock title %}

{% block content %}
<div
  id="root-tasks"
  data-tasks-props='{
    "urls": {
      "tasks": "{% url 'tasks' %}",
      "projects": "{% url 'projects' %}"
    },
    "annotation_type_choices": [
      {% for c in annotation_type_choice_list %}
      {"value": "{{ c.value|escapejs }}", "label": "{{ c.label|escapejs }}"}{% if not forloop.last %},{% endif %}
      {% endfor %}
    ],
    "datasets_for_project": [
      {% for d in datasets_for_project %}
      {"id": {{ d.id }}, "name": "{{ d.name|escapejs }}"}{% if not forloop.last %},{% endif %}
      {% endfor %}
    ],
    "projects": [
      {% for p in projects %}
      {
        "id": {{ p.id }},
        "name": "{{ p.name|escapejs }}",
        "annotation_type": "{{ p.annotation_type|escapejs }}",
        "linked_dataset_ids": [
          {% for ds in p.linked_datasets.all %}
          {{ ds.id }}{% if not forloop.last %}, {% endif %}
          {% endfor %}
        ]
      }{% if not forloop.last %},{% endif %}
      {% endfor %}
    ],
    "datasets": [
      {% for d in datasets %}
      {
        "id": {{ d.id }},
        "name": "{{ d.name|escapejs }}",
        "linked_project_names": "{% for lp in d.projects.all %}{{ lp.name|escapejs }}{% if not forloop.last %}, {% endif %}{% endfor %}"
      }{% if not forloop.last %},{% endif %}
      {% endfor %}
    ],
    "tasks": [
      {% for t in tasks %}
      {
        "id": {{ t.id }},
        "project_name": "{{ t.project.name|escapejs }}",
        "image_url": "{{ t.image.file.url|escapejs }}",
        "status": "{{ t.status|escapejs }}"
      }{% if not forloop.last %},{% endif %}
      {% endfor %}
    ]
  }'
></div>
{% endblock content %}
