<footer class="footer">
    <div class="container-fluid">
        <ul class="nav">
            <li class="nav-item">
                <a href="https://github.com/Krisnile/LAPS-System" target="_blank" class="nav-link">
                    Download
                </a>
            </li>
            <li class="nav-item">
                <a href="https://github.com/Krisnile/LAPS-System" target="_blank" class="nav-link">
                    PRO Version
                </a>
            </li>
            <li class="nav-item">
                <a href="https://github.com/Krisnile/LAPS-System" target="_blank" class="nav-link">
                    Support
                </a>
            </li>
        </ul>
        <div class="copyright">
            &copy; Krisnile - <a href="https://github.com/Krisnile/LAPS-System" target="_blank">LAPS-System</a>.
        </div>
    </div>
</footer>