{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Tables {% endblock title %}

{% block content %}
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header">
          <h4 class="card-title"> Simple Table</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table tablesorter " id="">
              <thead class=" text-primary">
                <tr>
                  <th>
                    Name
                  </th>
                  <th>
                    Country
                  </th>
                  <th>
                    City
                  </th>
                  <th class="text-center">
                    Salary
                  </th>
                </tr>
              </thead>
              <tbody>
                <!-- ... archived content truncated ... -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- ... archived content truncated ... -->
  </div>
</div>
{% endblock content %}
