{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Upgrade {% endblock title %}
  
{% block content %}
<div class="content">
  <div class="row">
    <div class="col-md-8 ml-auto mr-auto">
      <div class="card card-upgrade">
        <div class="card-header text-center">
          <h4 class="card-title">Black Dashboard PRO</h3>
            <p class="card-category">Are you looking for more components? Please check our Premium Version of Black
              Dashboard PRO.</p>
        </div>
        <div class="card-body">
          <div class="table-responsive table-upgrade">
            <table class="table">
              <thead>
                <th></th>
                <th class="text-center">Free</th>
                <th class="text-center">PRO</th>
              </thead>
              <tbody>
                <!-- ... archived content truncated ... -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
