{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Profile {% endblock title %}

{% block content %}
<div class="content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Edit Profile</h5>
        </div>
        <div class="card-body">
          <form>
            <!-- ... archived content truncated ... -->
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-fill btn-primary">Save</button>
        </div>
      </div>
    </div>
    <!-- ... archived content truncated ... -->
  </div>
</div>
{% endblock content %}
